
#watch .frame-face {
    position: relative;
    width: 30em;
    height: 30em;
    margin: 2em auto;
    border-radius: 15em;
    background: -webkit-linear-gradient(top, #f9f9f9, #666);
    background: -moz-linear-gradient(top, #f9f9f9, #666);
    background: linear-gradient(top, #f9f9f9, #666);
    box-shadow: 0.5em 0.5em 4em rgba(0, 0, 0, 0.8);
}
#watch .frame-face:before {
    content: '';
    width: 29.4em;
    height: 29.4em;
    border-radius: 14.7em;
    position: absolute;
    top: 0.3em;
    left: 0.3em;
    background: -webkit-radial-gradient(ellipse at center, rgba(246, 248, 249, 1) 0%, rgba(229,235,238,1) 65%, rgba(205,212,217,1) 66%, rgba(245,247,249,1) 100%);
    background: -moz-radial-gradient(ellipse at center, rgba(246,248,249,1) 0%, rgba(229,238,238,1) 65%, rgba(205,212,217,1) 66%, rgba(245,247,249,1) 100%);
    background: radial-gradient(ellipse at center, rgba(246,248,249,1) 0%, rgba(229,238,238,1) 65%, rgba(205,212,217,1) 66%, rgba(245,247,249,1) 100%);
}
#watch .frame-face:after{
    content: '';
    width: 28em;
    height: 28em;
    border-radius: 14.2em;
    position: absolute;
    top: 0.9em;
    left: 0.9em;
    box-shadow: inset rgba(0,0,0,0.2) 0.2em 0.2em 1em;
    border: 0.1em solid rgba(0,0,0,0.2);
    background: -webkit-linear-gradient(top, #fff, #ccc);
    background: -moz-linear-gradient(top, #fff, #ccc);
    background: linear-gradient(top, #fff, #ccc);
}
#watch .hours-hand{
    width: 0.8em;
    height: 0.8em;
    border-radius: 0 0 0.9em 0.9em;
    background: #232425;
    position: absolute;
    bottom: 50%;
    left: 50%;
    margin: 0 0 -0.8em -0.4em;
    box-shadow: #232425 0 0 2px;
    transform-origin: 0.4em 6.2em;
    transform: rotate(-25deg);
}
#watch .hours-hand:before{

}
#minute-marks{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 30em;
    height: 30em;
    margin: 2em auto;
}
#minute-marks li{
    display: block;
    width: 0.2em;
    height: 0.6em;
    background: #929394;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -0.4em 0 0 -0.1em;
}
#digits{
    width: 30em;
    height: 30em;
    border-radius: 15em;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 2em;
}
#digits:before{
    content: '';
    width: 1.6em;
    height: 1.6em;
    border-radius: 0.8em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -0.8em 0 0 -0.8em;
    background: #121314;
}

#digits:after{
    content: '';
    width: 4em;
    height: 4em;
    border-radius: 2.2em;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -2.1em 0 0 -2.1em;
    border: 0.1em solid #c6c6c6;
    background: -webkit-radial-gradient(ellipse at center, rgba(200,200,200,0), rgba(190,190,190,1) 90%, rgba(130,130,130,1) 100%);
    background: -moz-radial-gradient(ellipse at center, rgba(200,200,200,0), rgba(190,190,190,1) 90%, rgba(130,130,130,1) 100%);
    background: radial-gradient(ellipse at center, rgba(200,200,200,0), rgba(190,190,190,1) 90%, rgba(130,130,130,1) 100%);
}
#digits li{
    font-size: 1.6em;
    display: block;
    width: 1.6em;
    height: 1.6em;
    position: absolute;
    top: 50%;
    left: 50%;
    line-height: 1.6em;
    text-align: center;
    margin: -0.8em 0 0 -0.8em;
    font-weight: bold;
}
#digits li:nth-child(1){
    transform: translate(7em, 0);
}
#digits li:nth-child(2){
    transform: translate(0, 7em);
}
#digits li:nth-child(3){
    transform: translate(-7em, 0);
}
#digits li:nth-child(4){
    transform: translate(0, -7em);
}
